.about{
    padding-top: 53px;
    height: 634px;
}
.about__text{
    max-width: 445px;
    padding-bottom: 36px;
}

.about__content{
    padding: 88px 0px 0px 115px;
}

.about__title{
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 24px;
}

.about__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__img{
    position: absolute;
    right: 0;
    top: 0;

    img{
        height: 565px;
        width: 555px;
    }
}